{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Login</title>
{% endblock %}
{% block content %}
    <div class="switch_btn__">
       <a class="switch_btn" href="{% url 'register' %}">Регистрация</a>
       <a class="btn_to_main" href="{% url 'topics' %}">На главную</a>
    </div>
    <div class="login">
        <h2>Авторизация</h2>
        {% if user_created %}
            <div class="success">
                <script>
                    alert("Аккаунт успешно создан!")
                </script>
            </div>
        {% endif %}
        <div class="login-form">
            <form class="form" method="post">
                {% csrf_token %}
                <div class="zalupa">
                    <div class="zalupa1">
                        <label class="login_label" for="username">Введите Логин: </label>
                        <label class="login_label" for="password">Введите Пароль: </label>
                    </div>
                    <div>
                        <input id="username" type="text" name="username" placeholder="Логин" required>
                        <br>
                        <input id="password" type="password" name="password" placeholder="Пароль (Минимум 8 символов)" required>
                        <br>
                    </div>
                </div>
                <div class="login_btn_field">
                    <input class="login_btn" type="submit" value="Тыкать СюдА">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
